* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button:disabled,button:disabled:hover {
    background-color: #ccc;
    cursor: not-allowed;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #333;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message {
    color: red;
    font-size: 14px;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-word;
    width: 100%;
}

a {
    color: #28a745;
}

a:hover {
    color: #218838;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .container {
        padding: 15px;
        max-width: 70%;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    input, select, button {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
        max-width: 70%;
    }

    h1 {
        font-size: 20px;
    }

    input, select, button {
        font-size: 12px;
        padding: 8px;
    }

    label {
        font-size: 14px;
    }
}
