<app-loading-spinner [isLoading$]="isLoading$"></app-loading-spinner>
<div *ngIf="!(isLoading$ | async)" class="container">
    <h1>Currency Converter</h1>
    <form [formGroup]="converterForm" (ngSubmit)="convertCurrency()">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" formControlName="amount" placeholder="Enter amount" />

        <label for="fromCurrency">From:</label>
        <select id="fromCurrency" formControlName="fromCurrency">
            <option *ngFor="let currency of fromCurrencies | keyvalue" [disabled]="currency.value.disabled" [value]="currency.key">{{currency.key}}</option>
        </select>
        <div class="swap-container">
            <button class="swap-button" [disabled]="" type="button" (click)="swapCurrencies()">↑↓</button>
        </div>
        <label for="toCurrency">To:</label>
        <select id="toCurrency" formControlName="toCurrency">
            <option *ngFor="let currency of toCurrencies | keyvalue" [disabled]="currency.value.disabled" [value]="currency.key">{{currency.key}}</option>
        </select>

        

        <button type="submit" [disabled]="!converterForm.valid || !canConvert">Convert</button>
    </form>

    <h3 *ngIf="convertedAmount">Converted Amount: {{convertedAmount}} {{converterForm.value.toCurrency}}</h3>
    <app-currency-list [fromCurrency]="fromCurrency" [toCurrency]="toCurrency"></app-currency-list>
    <a *ngIf="converterForm.value.fromCurrency && converterForm.value.toCurrency" [routerLink]="['/currency-details']" [queryParams]="{ from: converterForm.value.fromCurrency, to: converterForm.value.toCurrency }">Go to Details Page</a>
</div>
